################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/lab5/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
